.email {
    margin-top: 8px;
    margin-bottom: 8px;
}

.password {
    margin-top: 8px;
    margin-bottom: 8px;
}

.login-btn {
    margin-left: 8px;
    margin-right: 8px;
}

.sign-btn {
    margin-left: 8px;
    margin-right: 8px;
}
