<div>
  <div layout="row" layout-align="space-between">
    <div flex="50">
      <div layout="column">
        <div *ngFor="let task of tasks, let i = index">
          <mat-card>
            <mat-card-header>
              <mat-card-title routerLink="['/archived-tasks', i]">{{ task.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ task.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button routerLink="['/archived-tasks', i]">View</button>
              <button mat-button>Delete</button><!-- Add function for deletion -->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
    <div *ngIf="tasks.length == 0">
      <p class="h3">No current tasks to display.</p>
    </div>
    </div>
    <div flex="50">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

