<div layout="row">
  <div flex="50">
    <div layout="column">
      <div *ngIf="tasks.length > 0">
        <div *ngFor="let task of tasks, let i = index">
          <mat-card>
            <mat-card-header>
              <mat-card-title routerLink="/current-tasks/{{i}}" style="cursor: pointer">{{ task.name }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>{{ task.description }}</p>
            </mat-card-content>
            <mat-card-actions>
              <a mat-raised-button color="primary" routerLink="/current-tasks/{{i}}">View</a>
              <button mat-raised-button color="accent">Archive</button><!-- Add function for moving to archived array -->
              <button mat-raised-button color="warn">Delete</button><!-- Add function for deletion -->
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
      <div *ngIf="tasks.length == 0">
        <p class="h3">No current tasks to display.</p>
      </div>
    </div>
  </div>
  <div flex="50">
    <router-outlet></router-outlet>
  </div>
</div>
